################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeautifyYourself/.vs/BeautifyYourself
/BeautifyYourself/src/*/bin/Debug/netcoreapp3.0
/BeautifyYourself/src/*/obj
/BeautifyYourself/src/*/*.user