################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeautifyYourself/.vs/BeautifyYourself
/BeautifyYourself/src/Auth.Api/bin/Debug/netcoreapp3.0
/BeautifyYourself/src/Auth.Api/obj
/BeautifyYourself/src/Core.Api/bin/Debug/netcoreapp3.0
/BeautifyYourself/src/Core.Api/obj
/BeautifyYourself/src/Core.Core/bin/Debug/netcoreapp3.0
/BeautifyYourself/src/Core.Core/obj
/BeautifyYourself/src/Core.Ioc/bin/Debug/netcoreapp3.0
/BeautifyYourself/src/Core.Ioc/obj
/BeautifyYourself/src/Core.Repository/bin/Debug/netcoreapp3.0
/BeautifyYourself/src/Core.Repository/obj
